.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    background-image: url('images/endscreen.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

.content {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}